<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="shuttle">
      <section name="amazonsqs" type="Shuttle.Esb.AmazonSqs.AmazonSqsSection, Shuttle.Esb.AmazonSqs" />
    </sectionGroup>
  </configSections>

  <shuttle>
    <amazonsqs>
      <endpoints>
        <endpoint name="endpoint-a" serviceUrl="https://sqs.us-east-1.amazonaws.com/123456789012/MyQueue" />
        <endpoint name="endpoint-b" serviceUrl="https://sqs.us-east-2.amazonaws.com/123456789012/MyQueue" />
      </endpoints>
    </amazonsqs>
  </shuttle>
</configuration>